*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #19380c;
    font-family: 'Gamer-Bold';
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-logo {
    color: #e9bc50;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: x-large;
}

.navbar-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.navbar-links li{
    list-style: none;
}

.navbar-links a{
    color: #e9bc50;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #e9bc50;
    margin: 5px;
}

.smiley-face{
    height: 70px;
    display: block;
    padding: 5px;
}

@media screen and (max-width: 1096px){
    .navbar-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .navbar-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #19380c;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in
    }
    .navbar-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%)
}

@keyframes navlinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}